<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<script>
//    document.addEventListener('click', function (e) {
//        e.stopPropagation();
//        e.preventDefault();
//        console.log('click');
//    }, false);
//    document.addEventListener('mouseup', function (e) {
//        e.stopPropagation();
//        e.preventDefault();
//        console.log('mouseup');
//    }, false);
//    document.addEventListener('mousedown', function (e) {
//        e.stopPropagation();
//        e.preventDefault();
//        console.log('mousedown');
//    }, false);
//    document.addEventListener('dbclick', function (e) {
//        e.stopPropagation();
//        e.preventDefault();
//        console.log('dbclick');
//    }, false);
//    document.addEventListener('contextmenu', function (e) {
//        e.stopPropagation();
//        e.preventDefault();
//        console.log('contextmenu');
//    }, false);
//
//    document.addEventListener('mouseenter', function (e) {
//        e.stopPropagation();
//        e.preventDefault();
//        console.log('mouseenter');
//    }, false);
//    document.addEventListener('mouseover', function (e) {
//        e.stopPropagation();
//        e.preventDefault();
//        console.log('mouseover');
//    }, false);
document.addEventListener('click', function (event) {
  event.stopPropagation();
  event.preventDefault();
  console.log('click');
}, false);
document.addEventListener('mouseup', function (event) {
  event.stopPropagation();
  event.preventDefault();
  console.log('mouseup');
}, false);
document.addEventListener('dbclick', function (event) {
  event.stopPropagation();
  event.preventDefault();
  console.log('dbclick');
}, false);
</script>
</body>
</html>